*{
	margin:0; padding:0;
}
body {
	height:100%;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
	#canvas{
		position:absolute;
		/*width:1920px;
		height:1080px;*/
	}
a {
  color: #00B7FF;
}
