@font-face {
    font-family: 'Brandon_bld';
    src: url('fonts/Brandon_bld.otf');
}
@font-face {
    font-family: 'Brandon_med';
    src: url('fonts/Brandon_med.otf');
}
@font-face {
    font-family: 'Brandon_light';
    src: url('fonts/Brandon_light.otf');
}
*{
	margin:0; padding:0;
}
a {
  color: #00B7FF;
}
body {
	height:100%;
	background-image: url("/assets/background.jpg");
}
	#canvas{
		position:absolute;
	}
	div{
		position:absolute;
		overflow:scroll;
		overflow-x: hidden;
		visibility:hidden;
		
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none;   /* Chrome/Safari/Opera */
		-khtml-user-select: none;    /* Konqueror */
		-moz-user-select: none;      /* Firefox */
		-ms-user-select: none;       /* Internet Explorer/Edge */
		user-select: none;
		/*pointer-events:none;*/
	}
	

