extends selectionLayout

block content
 select#first
  each decade in allArtists.decade
   optgroup(label=decade.year)
    for artist in decade.artistsArray
     option #{artist.name}
 select#second
  each decade in allArtists.decade
   optgroup(label=decade.year)
    for artist in decade.artistsArray
     option #{artist.name}
 button#send Send
 div(style='float:left; display:inline-block;')
    img#fImage
    br
    iframe#fVideo(width='480', height='390', frameborder='0')
    br
    p#influ
  div(style='float:right; display:inline-block;')
    img#sImage
    br
    iframe#sVideo(width='480', height='390', frameborder='0')
    br
    p#sinflu